@use "/src/scss/base/variables" as *;
@use "/src/scss/base/media" as *;
.sidebar {
  padding: 12px;
  max-width: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  &__logo {
    margin-bottom: 20px;
    padding: 15px 10px 15px 10px;
  }

  &__menu {
    flex: 1;
    padding-bottom: 50px;
    &-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-left: 20px;
    }
    &-item {
      &--active {
        .sidebar__menu-icon {
          background-color: $bg-orange-light;

          svg path {
            fill: $color-orange;
          }
        }

        .sidebar__menu-title {
          color: $color-orange;
        }
      }
    }
    &-link {
      display: flex;
      align-items: center;
      gap: 8px;
      max-width: fit-content;
      transition: background-color 0.2s ease;
      &:hover {
        .sidebar__menu-icon {
          background-color: $bg-orange-light;

          svg path {
            fill: $color-orange;
          }
        }

        .sidebar__menu-title {
          color: $color-orange;
        }
      }
    }

    &-icon {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #efefef;
      border-radius: 50%;
      transition: background-color 0.2s ease;

      svg path {
        transition: fill 0.2s ease;
      }
    }
    &-title {
      color: $text-secondary;
      transition: color 0.2s ease;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 67px;
    margin-left: 12px;
    color: $text-secondary;
    padding-bottom: 3px;

    &-link {
      transition: color 0.3s ease;
      width: max-content;
      &:hover {
        color: $color-orange;
      }
    }
    &-text {
      text-transform: uppercase;
      font-size: 12px;
      opacity: 0.5;
    }
  }

  @include tablet {
    & {
      display: none;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 27px;
  &__support {
    border: 1px solid #efefef;
    border-radius: 24px;
    padding: 24px;
    position: relative;
    margin-left: 10px;

    max-width: 240px;

    background: $bg-secondary;
    opacity: 0.8;

    &-icon {
      position: absolute;
      top: 8px;
      right: 8px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: $bg-orange-light;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.8;
      }
    }
    &-title {
      color: $text-secondary;
      font-size: 12px;
      text-transform: uppercase;
      margin-bottom: 6px;
    }
    &-link {
      font-size: 12px;
      color: #535862;
      transition: color 0.2s ease;
      &:hover {
        color: $color-orange;
      }
    }
  }
  &__warning {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 20px;
    &-icon {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $bg-gray-light;
      border-radius: 50%;
      transition: background-color 0.3s ease;
      svg path {
        transition: fill 0.3s ease;
      }
    }
    &-text {
      color: $text-secondary;
      transition: color 0.3s ease;
    }

    &:hover {
      .info__warning-icon {
        background-color: $bg-orange-light;
        svg path {
          fill: $color-orange;
        }
      }
      .info__warning-text {
        color: $color-orange;
      }
    }
  }
}
