@font-face {
  font-family: "Normalidad";
  src: url("/fonts/Normalidad.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

$font-base: "Normalidad", sans-serif;

$color-orange: #ff5100;
$color-green: #02aa03;
$color-yellow: #f6d214;
$color-blue: #0986eb;
$color-red: #ff0038;
$color-pink: #ff85c0;
$color-purple: #924cd6;
$color-gray: #a3a3a3;

$bg-orange-light: #ffe7db;
$bg-gray-light: #efefef;
$bg-secondary: #fbfaf8;

$text-primary: #181d27;
$text-secondary: #878787;

$color-light-green: #dcf3dc;
$color-light-yelow: #fef9de;
$color-light-red: #ffdbe3;
$color-light-gray: #efefef;
$color-light-pink: #ffeef6;
