@use "/src/scss/base/mixins";
@use "/src/scss/base/variables" as *;
@use "/src/scss/base/reset";
@use "/src/scss/base/media"  as* ;

@use "/src/scss/components/sidebar";
@use "/src/scss/components/main";


body {
  font-family: $font-base;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
	overflow-x: hidden;
	 height: 100%;
  @include tablet {
    background-color: $bg-secondary;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

.dotted-underline {
  display: inline-block;
  border-bottom: 2px dotted currentColor;
}

.section-title {
  font-size: 20px;
  color: #181d27;
  font-weight: 400;
}

.link-orange {
  color: $text-secondary;
  transition: color 0.3s ease;
  &:hover {
    color: $color-orange;
  }
}

.link-white {
  transition: color 0.3s ease;

  &:hover {
    color: #fff;
  }
}

.link-bg {
  border-radius: 100px;
  padding: 14px 24px;
  line-height: 1;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
  &--pink {
    background-color: $color-light-pink;
    color: $color-red;
    &:hover {
      background-color: $color-red;
      color: #fff;
    }
  }
  &--orange {
    background-color: $bg-orange-light;
    color: $color-orange;
    &:hover {
      background-color: $color-orange;
      color: #fff;
    }
  }
}
